.guidemodal-01{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    z-index: 999;
    display: none;
}
.modal-img{
    margin-top: 5%;
    margin-left: 2%;
    height: 300px;
    background: #fff;
    float: left;
}
.swiper-container {
    width: 100%;
    height: 100%;

  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.modal-story{
    float: left;
    margin-top: 5%;
    margin-left: 2%;
}
.modal-story h1{
    color: #f2d88f;
}
.modal-story p{
    
    font-weight: 200;
}
.madal-close-text{
    width: 6%;
    float: left;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;

}
.guidemodal-02{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-03{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-04{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-05{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-06{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-07{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-08{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-09{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-10{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-11{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-12{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-13{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}
.guidemodal-14{
    position: absolute;
    top: 18%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
    display: none;
}