@import url('reset.css');
/* reset css */
@import url('font.css');
/* font css */
body{
    font-size: 10px;
}
.page01{
    background-image: url('../images/page01bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}
.navi{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    z-index: 990;
}
.logo{
    float: left;
}
.logo-icon{
    margin-top: 1%;
    width: 100px;
    height: 100%;
    margin-left: 3%;
}
.goust{
    position: absolute;
    right: 5%;
    top: 3%;
    position: fixed;
    display: none;
    z-index: 990;
}
.menus{
    margin-left: 15%;
}
.menus li{
    margin: 20px;
    float: left;
    font-family: 'EBSHMJESaeronRA';
    font-size: 1.4rem;
}
.menus li a{
    color: #fff;
}
/* navi01 end */
.navi02{
    display: none;
}
.logo02{
    float: left;
}
.logo-icon02{
    margin-top: 1%;
    width: 100px;
    height: 100%;
    margin-left: 3%;
    z-index: 990;
}
.menu02{
    background-color: rgba(0, 0, 0,0.7);
    height: 100vh;
    z-index: 900;
    position: fixed;
}
.goust02{
    position: absolute;
    right: 5%;
    top: 3%;
    position: fixed;
    z-index: 990;
}
.menus02{
    position: absolute;
    margin-top: 60%;
    margin-left: 25%;
}
.menus02 li{
    width: 100%;
    padding: 20%;
    font-family: 'EBSHMJESaeronRA';
    font-size: 1.5rem;
}
.menus02 li a{
    text-align: center;
    text-decoration: none;
    color: #fff;
}
/* navi02 end */




/* section01 end */
.section02{
    position: relative;
}
.page02{
    background-image: url('../images/page02bg2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.cloud{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/wlscloud.png');
    background-size: cover;
    background-position: center;
    animation:animate 60s linear infinite;
}
.section02-bg{
    height: 100vh;
    background-color: rgba(0, 0, 0,0.3);
    position: relative;
}
.sec02-text{
    position: absolute;
    left: 20%;
    top: 30%;
}
.history-t{
    padding-bottom: 30%;
}
h1{
    font-family: 'EBSHMJESaeronRA';
    color: #fff;
    font-size: 4rem;
}
p{
    font-family: 'Noto Sans KR';
    color: #fff;
    font-size: 1.5rem;
    line-height: 40px;
}
.animate__animated.animate__fadeIn{
    --animate-duration: 8s;
}
@keyframes animate{
    0%
    {
        background-position: 0px;
    }
    100%
    {
        background-position: -6864px;
    }
}
/* section02 end */
.section03{
    position: relative;
}
.page03{
    
    height: 100vh;
    background: #282828;
}
.guide{
    float: left;
    position: absolute;
}
.guide-menus{
    float: left;
    margin-top: 80%;
    font-size: 2.5rem;
    font-family: 'EBSHMJESaeronRA';
    color: #fff;
    cursor: pointer;
}
.guide-menus02{
    float: left;
    margin-top: 80%;
    font-size: 2.5rem;
    font-family: 'EBSHMJESaeronRA';
    color: #fff;
    cursor: pointer;
}
.guide-menus>li{
    padding: 3%;
}
.guide-menus02>li{
    padding: 3%;
}
.guideMap{
    float: left;
    padding-top: 1%;
    padding-left: 34%;
    /* width: 100%; */
}


/* 지도 버튼 */
.guidemap-btn01{
    position: absolute;
    top: 80.8%;
    right: 50.4%;
    cursor: pointer;
}
.guidemap-btn02{
    position: absolute;
    top: 55.6%;
    right: 36.41%;
    cursor: pointer;
}
.guidemap-btn03{
    position: absolute;
    top: 52.29%;
    right: 33.3%;
    cursor: pointer;
}
.guidemap-btn04{
    position: absolute;
    top: 48.8%;
    right: 30.6%;
    cursor: pointer;
}
.guidemap-btn05{
    position: absolute;
    top: 44.3%;
    right: 28.7%;
    cursor: pointer;
}
.guidemap-btn06{
    position: absolute;
    top: 44.8%;
    right: 18.8%;
    cursor: pointer;
}
.guidemap-btn07{
    position: absolute;
    top: 58.2%;
    right: 25.8%;
    cursor: pointer;
}
.guidemap-btn08{
    position: absolute;
    top: 20.62%;
    right: 14.1%;
    cursor: pointer;
}
.guidemap-btn09{
    position: absolute;
    top: 13.77%;
    right: 9%;
    cursor: pointer;
}
.guidemap-btn10{
    position: absolute;
    top: 9.69%;
    right: 15.1%;
    cursor: pointer;
}
.guidemap-btn11{
    position: absolute;
    top: 5.26%;
    right: 22.78%;
    cursor: pointer;
}
.guidemap-btn12{
    position: absolute;
    top: 35.1%;
    right: 32.91%;
    cursor: pointer;
}
.guidemap-btn13{
    position: absolute;
    top: 48.1%;
    right: 40.91%;
    cursor: pointer;
}
.guidemap-btn14{
    position: absolute;
    top: 51.91%;
    right: 21.34%;
    cursor: pointer;
}


/* 코스 모달창 */
.guidemodal-01{
    position: absolute;
    top: 25%;
    left: 35%;
    background-color: rgba(0, 0, 0,0.7);
    height: 500px;
    float: left;
}
.modal-img{
    margin-top: 5%;
    margin-left: 2%;
    height: 300px;
    background: #fff;
    float: left;
}
.modal-story01{
    float: left;
    margin-top: 5%;
    margin-left: 2%;
}
.modal-story01 h1{
    color: #e2de66;
}
.modal-story01 p{
    
    font-weight: 200;
}
/* section03 end */



/* media */


@media (max-width:1024px){
    /* section01 end */
    .sec02-text{
        width: 100%;
        position: absolute;
        text-align: center;
        left: 0;
        top: 35%;
    }
    .history-t{
        padding-bottom: 10%;
    }

}

/* 1024 end */

@media (max-width: 768px){
    body{
        font-size: 5px;
    }
    .goust{
        display: block;
    }
    .menus{
        display: none;
    }
    /* navi01 end */
    .menus02{
        position: absolute;
        margin-top: 35%;
        margin-left: 33%;
    }
    .menus02 li{
        width: 100%;
        padding: 20%;
        font-family: 'EBSHMJESaeronRA';
        font-size: 2rem;
    }
    /* section01 end */
    .sec02-text{
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;
        left: 0;
        top: 35%;
    }
    .history-t{
        padding-bottom: 10%;
    }

}

/* 768 end */

@media (max-width: 414px){
    body{
        font-size: 5px;
    }
    .menus{
        display: none;
    }
    .menus02{
        position: absolute;
        margin-top: 35%;
        margin-left: 20%;
    }
    .menus02 li{
        width: 100%;
        padding: 20%;
        font-family: 'EBSHMJESaeronRA';
        font-size: 2rem;
    }
    /* section01 end */
    .sec02-text{
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;
        left: 0;
        top: 30%;
    }
    h1{
        font-family: 'EBSHMJESaeronRA';
        color: #fff;
        font-size: 30px;
    }
    p{
        font-size: 20px;
        line-height: 25px;
    }

}
/* 414 end */

@media (max-width: 375px){
    .body{
        font-size: 5px;
    }
    .menus{
        display: none;
    }
    .menus02{
        position: absolute;
        margin-top: 40%;
        margin-left: 25%;
    }
    .menus02 li{
        width: 100%;
        padding: 20%;
        font-family: 'EBSHMJESaeronRA';
        font-size: 1.5rem;
    }
    /* section01 end */
    .sec02-text{
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;
        left: 0;
        top: 40%;
    }
    h1{
        font-family: 'EBSHMJESaeronRA';
        color: #fff;
        font-size: 30px;
    }
    p{
        font-size: 20px;
        line-height: 25px;
    }

}
@media (max-width: 280px){
    .menus{
        display: none;
    }
    /* section01 end */
    .sec02-text{
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;
        left: 0;
        top: 30%;
    }
    h1{
        font-family: 'EBSHMJESaeronRA';
        color: #fff;
        font-size: 30px;
    }
    p{
        font-size: 16px;
        
    }

}