@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-size: 16px;
    line-height: 1.8;
    color: #f5f6f7;
}
.nav01{
    background-color: #0f1217;
    padding: 0 !important;
}
.nav01>a{
    margin-left: 95%;
    padding: 0 !important;
}
.nav01>a>img{
    width: 100%;
}
.nav02{
    position: fixed;
}
.bg-1>p{
    position: absolute;
    top: 45%;
    left: 25%;
    font-size: 3.125rem;
    font-family: 'NEXON Lv1 Gothic OTF';
    color: #fff;
}
.container-fluid{
    padding-top: 70px;
    padding-bottom: 70px;
}
.margin{
    margin-bottom: 45px;
}
.sec-01-img{
    width: 100%;
}
.bg-2{
    background-color: #474e5d;
    color: #ffffff;
}
.bg-3{
    background-color: #ffffff;
    color: #555;
}
.bg-4{
    background-color: #937246;
    color: #555;
}
.navbar-brand>img{
    width: 30%;
}
.logo02{
    width: 15%;
    top: 35%;
    left: 26%;
    position: absolute;
}
.nav-item>a:hover{
    color: #0070d1 !important;
}