@import url('reset.css');
/* reset css */
@import url('font.css');
/* font css */
html{
    scroll-behavior: smooth;
}
body{
    font-size: 10px;
}
.page01{
    background-image: url('../images/page01bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}
.navi{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    z-index: 990;
}
.logo{
    float: left;
}
.logo-icon{
    margin-top: 1%;
    width: 100px;
    height: 100%;
    margin-left: 3%;
}
.goust{
    position: absolute;
    right: 5%;
    top: 3%;
    position: fixed;
    display: none;
    z-index: 990;
}
.menus{
    margin-left: 15%;
}
.menus li{
    margin: 20px;
    float: left;
    font-family: 'EBSHMJESaeronRA';
    font-size: 1.4rem;
}
.menus li a{
    color: #fff;
}
/* navi01 end */
.navi02{
    display: none;
}
.logo02{
    float: left;
}
.logo-icon02{
    margin-top: 1%;
    width: 100px;
    height: 100%;
    margin-left: 3%;
    z-index: 990;
}
.menu02{
    background-color: rgba(0, 0, 0,0.7);
    height: 100vh;
    z-index: 900;
    position: fixed;
}
.goust02{
    position: absolute;
    right: 5%;
    top: 3%;
    position: fixed;
    z-index: 990;
}
.menus02{
    position: absolute;
    margin-top: 60%;
    margin-left: 25%;
}
.menus02 li{
    width: 100%;
    padding: 20%;
    font-family: 'EBSHMJESaeronRA';
    font-size: 1.5rem;
}
.menus02 li a{
    text-align: center;
    text-decoration: none;
    color: #fff;
}
/* navi02 end */




/* section01 end */
.section02{
    position: relative;
}
.page02{
    float: left;
    width: 100%;
}
.sec02-bg{
    width: 100%;
    height: 100vh;
}
.cloud{
    position: absolute;
    top: 34.2%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/wlscloud.png');
    background-size: cover;
    background-position: center;
    animation:animate 60s linear infinite;
}
.section02-bg{
    background-color: rgba(0, 0, 0,0.3);
    position: absolute;
    float: left;
    width: 100%;
    /* padding-top: 56.2%; */
    height: 100vh;
    top: 0;
}
.sec02-text{
    position: absolute;
    left: 20%;
    top: 22%;
    cursor: pointer;
}
.history-t{
    padding-bottom: 30%;
    cursor: pointer;
}
h1{
    font-family: 'EBSHMJESaeronRA';
    color: #fff;
    font-size: 4rem;
}
p{
    font-family: 'Noto Sans KR';
    color: #fff;
    font-size: 1.5rem;
    line-height: 40px;
}
.animate__animated.animate__fadeIn{
    --animate-duration: 8s;
}
@keyframes animate{
    0%
    {
        background-position: 0px;
    }
    100%
    {
        background-position: -6864px;
    }
}
/* section02 end */
.page03{
    position: relative;
    width: 100%;
    float: left;
    background: #282828;
}
.guide{
    float: left;
}
.guide02{
    display: none;
}
.guide-menus{
    float: left;
    margin-top: 80%;
    font-size: 2.5rem;
    font-family: 'EBSHMJESaeronRA';
    color: #fff;
    cursor: pointer;
}
.guide-menus02{
    float: left;
    margin-top: 80%;
    font-size: 2.5rem;
    font-family: 'EBSHMJESaeronRA';
    color: #fff;
    cursor: pointer;
}
.guideMap{
    float: left;
}
.guideMap-main{
    position: relative;
}
.guideMap-main img{
    width: 95%;
}
.guide-map{
    position: relative;
}
.main-map{
    position: relative;
    -webkit-user-select: none;
}
.guidemap-btn01>img{
    width: 100%;
}
/* 지도 버튼 */

.circle{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #d3b460;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    text-align: center;
    line-height: 25px;
    margin-top: 2%;
    margin-left: 15%;
    font-size: 1rem;
  }
.guidemap-btn01{
    position: absolute;
    width: 11%;
    height: 2%;
    transform: skew(-31deg) rotate(24deg);
    top: 83.1%;
    right: 77%;
    cursor: pointer;
}
.guidemap-btn02{
    position: absolute;
    width: 12%;
    height: 10%;
    transform: skew(-40deg) rotate(20deg);
    top: 56.9%;
    right: 56.9%;
    cursor: pointer;
}
.guidemap-btn03{
    position: absolute;
    width: 11%;
    height: 2.5%;
    transform: skew(-32deg) rotate(22deg);
    top: 54.1%;
    right: 51%;
    cursor: pointer;
}
.guidemap-btn04{
    position: absolute;
    width: 11%;
    height: 3.5%;
    transform: skew(-30deg) rotate(22deg);
    top: 50.1%;
    right: 48%;
    cursor: pointer;
}
.guidemap-btn05{
    position: absolute;
    width: 6.8%;
    height: 4.3%;
    transform: skew(-28deg) rotate(23deg);
    top: 45.7%;
    right: 47%;
    cursor: pointer;
}
.guidemap-btn06{
    position: absolute;
    width: 9.4%;
    height: 4.7%;
    transform: skew(-35deg) rotate(20deg);
    top: 46.2%;
    right: 33.4%;
    cursor: pointer;
}
.guidemap-btn07{
    position: absolute;
    width: 10%;
    height: 5%;
    transform: skew(-40deg) rotate(20deg);
    top: 59.9%;
    right: 42.9%;
    cursor: pointer;
}
.guidemap-btn08{
    position: absolute;
    width: 11%;
    height: 6%;
    transform: skew(-39deg) rotate(17deg);
    top: 22%;
    right: 24.9%;
    cursor: pointer;
}
.guidemap-btn09{
    position: absolute;
    width: 8%;
    height: 5%;
    transform: skew(-43deg) rotate(20deg);
    top: 15%;
    right: 18.9%;
    cursor: pointer;
}
.guidemap-btn10{
    position: absolute;
    width: 7%;
    height: 2%;
    transform: skew(-43deg) rotate(20deg);
    top: 9.5%;
    right: 25.9%;
    cursor: pointer;
}
.guidemap-btn11{
    position: absolute;
    width: 12%;
    height: 7%;
    transform: skew(-40deg) rotate(15deg);
    top: 5.5%;
    right: 39.9%;
    cursor: pointer;
}
.guidemap-btn12{
    position: absolute;
    width: 14.5%;
    height: 9%;
    transform: skew(-44deg) rotate(18deg);
    top: 37.5%;
    right: 54%;
    cursor: pointer;
}
.guidemap-btn13{
    position: absolute;
    width: 7.5%;
    height: 3%;
    transform: skew(-44deg) rotate(18deg);
    top: 48.7%;
    right: 63%;
    cursor: pointer;
}
.guidemap-btn14{
    position: absolute;
    width: 11.5%;
    height: 6.8%;
    transform: skew(-41deg) rotate(18deg);
    top: 52.7%;
    right: 37%;
    cursor: pointer;
}


/* 코스 모달창 */

/* section03 end */

.section04{
    position: relative;
}

/* media */


@media (max-width:1025px){
    /* section01 end */
    .sec02-text{
        width: 100%;
        position: absolute;
        text-align: center;
        left: 0;
        top: 35%;
    }
    .history-t{
        padding-bottom: 10%;
        font-size: 6rem;
    }
    .history-content{
        font-size: 3rem;
        line-height: 3.3rem;
    }
    .cloud{
        top: 50.5%;
    }
    .guide-menus>li{
        font-size: 1.5rem;
        width: 12%;
        padding: 1%;
        margin: auto;
        float: left;
    }
    .guide-menus02>li{
        font-size: 1.5rem;
        width: 12%;
        padding: 1%;
        margin: auto;
        float: left;
    }
    .guide{
        display: none;
    }
    .guide02{
        display: block;
        width: 100%;
        height: 30%;
    }
    .guide-menus{
        width: 100%;
        margin-top: 0;
    }
    .guide-menus02{
        width: 100%;
        margin-top: 0;
    
    }
    .guideMap{
        width: 100%;
    }
    #guide-map{
        margin-left: 3%;
    }
}

/* 1024 end */

@media (max-width: 769px){
    body{
        font-size: 5px;
    }
    .goust{
        display: block;
    }
    .menus{
        display: none;
    }
    /* navi01 end */
    .menus02{
        position: absolute;
        margin-top: 35%;
        margin-left: 33%;
    }
    .menus02 li{
        width: 100%;
        padding: 20%;
        font-family: 'EBSHMJESaeronRA';
        font-size: 2rem;
    }
    /* section01 end */
    .sec02-text{
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;
        left: 0;
        top: 20%;
    }
    .history-t{
        /* padding-bottom: 10%; */
        font-size: 2rem;
    }
    .cloud{
        top:48%;
    }
    p{
        font-size: 1rem;
    }
    .guide-menus>li{
        font-size: 1.1rem;
        width: 12%;
        padding: 1%;
        margin: auto;
        float: left;
        text-align: center;

    }
    .guide-menus02>li{
        font-size: 1.1rem;
        width: 12%;
        padding: 1%;
        margin: auto;
        float: left;
        text-align: center;
    }
    .circle{
        float: left;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #d3b460;
        font-family: 'Noto Sans KR', sans-serif;
        color: white;
        text-align: center;
        line-height: 20px;
        margin-top: 2%;
        margin-left: 15%;
        font-size: 1rem;
      }

}

/* 768 end */

@media (max-width: 415px){
    body{
        font-size: 5px;
    }
    .menus{
        display: none;
    }
    .menus02{
        position: absolute;
        margin-top: 35%;
        margin-left: 20%;
    }
    .menus02 li{
        width: 100%;
        padding: 20%;
        font-family: 'EBSHMJESaeronRA';
        font-size: 2rem;
    }
    /* section01 end */
    .sec02-text{
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;
        left: 0;
        top: 30%;
    }
    h1{
        font-family: 'EBSHMJESaeronRA';
        color: #fff;
        font-size: 30px;
    }
    p{
        font-size: 20px;
        line-height: 25px;
    }

    /* section02 */

    .cloud{
        top: 39.4%;
    }
    .history-t{
        font-size: 1.2rem;
    }
    .sec02-text>p{
        font-size: 0.5rem;
        line-height: 1rem;
    }
    .sec02-text{
        top: 20%;
    }
    /* section02 end */


    /* srction03 */
    .guide-menus>li{
        font-size: 1rem;
    }
    .guide-menus02>li{
        font-size: 1rem;
    }
    .circle{
        display: none;
    }
}
/* 414 end */

@media (max-width: 376px){
    .body{
        font-size: 5px;
    }
    .menus{
        display: none;
    }
    .menus02{
        position: absolute;
        margin-top: 40%;
        margin-left: 25%;
    }
    .menus02 li{
        width: 100%;
        padding: 20%;
        font-family: 'EBSHMJESaeronRA';
        font-size: 1.5rem;
    }
    /* section01 end */
    .sec02-text{
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;
        left: 0;
        top: 20%;
    }
    h1{
        font-family: 'EBSHMJESaeronRA';
        color: #fff;
        font-size: 30px;
    }
    p{
        font-size: 20px;
        line-height: 25px;
    }
    .cloud{
        top: 42.3%
    }

    /* section02 end */

    /* section03 */
    .guide-menus>li{
        font-size: 15px;
    }
    .guide-menus02>li{
        font-size: 15px;
    }

}
@media (max-width: 280px){
    .menus{
        display: none;
    }
    /* section01 end */
    .sec02-text{
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;
        left: 0;
        top: 30%;
    }
    h1{
        font-family: 'EBSHMJESaeronRA';
        color: #fff;
        font-size: 30px;
    }
    p{
        font-size: 16px;
        
    }

}